html,
body {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

/* General */
.container {
  max-width: 1409px;
}

.g-fixed {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.g-ui--sckity {
  flex: 1;
}

.g-index--9 {
  z-index: 9;
}

.g-index--10 {
  z-index: 10;
}

.g-color--black {
  color: #000000;
}

.g-bkg--gray {
  background-color: #f7f7f7;
}

.g-title {
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

/* box */
.g-box-shadow {
  background-color: white;
  box-shadow: 0 5px 27px -2px rgba(3, 14, 32, 0.11);
}

.g-box-img-text {
  margin: 0 15px;
  border-radius: 10px;
}

.g-box-img-text img {
  width: 100%;
}

.g-box-img-text .text {
  padding: 15px 20px;
}

.g-box-img-text .text .title {
  color: #00448d;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.g-box-img-text .text p {
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  height: 150px;
  line-height: 1.4;
  margin: 0;
}

.g-box-img-text .text .link {
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #292929;
}

.g-box-img-text .text .link a {
  color: #292929;
  font-weight: 700;
  margin-right: 5px;
  font-size: 14px;
}

.g-box-text-ilus {
  background-color: #01448b;
  border-radius: 10px;
  color: white;
  height: 370px;
  margin: 0 15px;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}

.g-box-text-ilus .title {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  min-height: 90px;
  margin-bottom: 10px;
}

.g-box-text-ilus p {
  font-size: 14px;
  font-weight: 300;
}

.g-box-text-ilus .ilus {
  bottom: 20px;
  height: 120px;
  position: absolute;
  right: 20px;
}

.g-box-products {
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  padding: 80px 70px 80px 140px;
  margin-left: -70px;
}

.g-box-ilus {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  padding: 20px;
  text-align: center;
}

.g-box-ilus img {
  height: 100px;
  margin-bottom: 10px;
}

.g-box-ilus p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.g-box-products--img {
  border-bottom-right-radius: 10px;
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.g-box-question {
  background-color: #00448d;
  color: white;
  padding: 70px;
  position: relative;
}

.g-box-question::before {
  background-color: #00448d;
  bottom: 0;
  content: '';
  left: -600px;
  position: absolute;
  top: 0;
  width: 600px;
}

.g-box-question button {
  width: 300px;
}

.g-box-question--info {
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  padding: 70px;
  position: relative;
}

.g-box-question--info::before {
  background-color: #f7f7f7;
  bottom: 0;
  content: '';
  right: -600px;
  position: absolute;
  top: 0;
  width: 600px;
}

.g-box-link {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 27px -2px rgba(3, 14, 32, 0.11);
  cursor: pointer;
  display: flex;
  padding: 20px;
}

.g-box-link p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  padding-right: 10px;
  width: 100%;
}

/* Login */
.login {
  overflow: hidden;
}

.login__form {
  padding: 20px;
  width: 100%;
}

.login__form img {
  margin-bottom: 10px;
  width: 133px;
}

.login__form .title {
  color: #00448d;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
}

.login__form .bajada {
  color: #808285;
}

.login__img {
  height: 100%;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  display: none;
  z-index: -1;
}

.login__img::before {
  background-color: #f8f8f8;
  content: '';
  height: 100%;
  position: absolute;
  right: -9999px;
  width: 9999px;
}

.login__img .bkg-login {
  position: absolute;
  bottom: 0;
  right: -2px;
  height: 100%;
  top: 0;
  object-fit: cover;
}

.login__img .bkg-login--user {
  bottom: -40px;
  left: 10px;
  position: absolute;
  width: 533px;
}

.login__footer .listado {
  color: #292929;
  font-size: 12px;
}

.login__footer .iso {
  width: 18px;
  margin-right: 10px;
}

.login__footer .label {
  color: #808285;
  font-size: 12px;
}

@media (min-width: 992px) { 
  .login__form {
    padding: 20px;
    min-width: 340px;
    width: initial;
  }

  .login__img {
    display: initial;
  }
 }

 /* home */
.home {
  overflow: hidden;
}

/* input */
.g-input {
  margin-top: 20px;
  margin-bottom: 6px;
}

.g-input--icon {
  position: relative;
}

.g-input--icon .icon {
  bottom: 0;
  font-size: 20px;
  position: absolute;
}

.g-input--icon .block-input {
  margin-left: 40px;
}

.block-input {
  position: relative;
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

label {
  top: 0;
  left: 0; right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 14px;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 30px;
  font-size: 14px;
}

/* Interation */
input:valid,
input:focus {
  border-bottom: 2px solid #808285;  
}

input:valid + label,
input:focus + label {
  color: #808285;
  font-size: .8rem;
  pointer-events: none;
  top: -20px;
}

/* link */
.g-link {
  color: #808285;
  font-size: 12px;
  text-decoration: underline;
}

.g-link:hover {
  color: #454648;
  font-size: 12px;
  text-decoration: underline;
}

/* btn */
button:focus {
  outline: none;
}

.g-btn {
  align-items: center;
  border-radius: 38px;
  border: none;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  line-height: 1;
  min-height: 38px;
  text-transform: uppercase;
  width: 100%;
}

.g-btn--small {

}

.g-btn--primary {
  background-color: #ffd200;
  color: #292929;
}

.g-btn--secondary {
  background-color: white;
  color: #00448d;
  border: 1px solid #00448d;
}

.g-btn.disabled {
  background-color: #747779;
  color: #292929;
  opacity: 0.65;
}

.g-btn--circle {
  align-items: center;
  background-color: #ffd200;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: 47px;
  min-width: 47px;
}

/* alert */
.g-alert {
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 16px 20px;
}

.g-alert .icon {
  font-size: 32px;
  line-height: 1;
}

.g-alert .info {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 10px;
  width: 100%;
}

.g-alert .close {
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  margin-left: 10px;
}

.g-alert--error .icon {
  color: #fa5e5b;
}

/* header */
.header {
  align-items: center;
  display: flex;
  height: 70px;
}

.header .nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 40px;
  width: 100%;
}

.header .nav ul {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav ul li {
  display: inline-block;
}

.header .nav ul li a {
  align-items: center;
  border-bottom: 3px solid white;
  color: #808285;
  display: flex;
  font-weight: 600;
  height: 67px;
  line-height: 1;
  margin-bottom: -3px;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.5s;
}

.header .nav ul li a:hover {
  color: #00448d;
  transition: 0.5s;
  border-bottom: 3px solid #ffd200;
}

.header h1 {
  font-size: 0;
  line-height: 1;
  margin: 0;
}

.header h1 img {
  width: 90px;
}

.header .user .singin {
  align-items: center;
  color: #808285;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 67px;
  line-height: 1;
  margin-bottom: -3px;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.5s;
}

/* Banner */
.banner {
  background-color: #f7f7f7;
  height: 570px;
  margin-bottom: 70px;
}

.box-banner {
  height: 570px;
  padding-top: 70px;
  position: relative;
} 

.box-banner .box-banner--img {
  position: absolute;
  right: 0;
  width: 100%;
}

.box-banner .box-banner--img.above {
  bottom: -60px;
}

.box-banner .box-banner--img img {
  width: 100%;
}

.box-banner .box-banner--info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
  max-width: 500px;
}

.box-banner .box-banner--info .title {
  color: #01448b;
  font-family: 'Nunito', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
}

.box-banner .box-banner--info .txt {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.box-banner .box-banner--info button {
  max-width: 300px;
}

.sub-banner {
  align-items: center;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.sub-banner.img-portal {
  background-image: url('../images/sub-banner.jpg');
}

.sub-banner.img-como-funciona {
  background-image: url('../images/como-funciona.png');
}

.sub-banner .text {
  width: 60%;
}

.sub-banner .text h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}

.sub-banner .text p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 40px;
}

/* steps */
.steps {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
}

.steps--item {
  display: flex;
}

.steps--item__cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.steps--item__cont .circle {
  align-items: center;
  background: #ffcc00;
  border-radius: 87px;
  color: #00408d;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 87px;
  min-width: 87px;
}

.steps--item__cont .info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.steps--item__cont .info .title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2;
  color: #00448d;
}

.steps--item__cont .info .parrafo {
  color: #333333;
  letter-spacing: -0.26px;
  height: 100%;
}

/* footer */
.footer {
  background-color: #58595b;
}

.footer .list-of-pages {
  color: white;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 60px;
}

.footer .list-of-pages .title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  margin-bottom: 10px;
}

.footer .list-of-pages li a {
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-bottom: 6px;
}

.footer .iso {
  width: 18px;
  margin-right: 10px;
}

.footer .label {
  color: white;
  font-size: 12px;
}

/* helpers */
.h-bb--gray {
  border-bottom: 1px solid #e6e7e8;
}

.h-bk--white {
  background: white;
}

.h-shadow--gray {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.h-mt-neg--6 {
  margin-top: -60px;
}

.h-p--0 {
  padding: 0;
}

.h-ht--300 {
  height: 300px;
}

.h-ht--200 {
  height: 200px;
}

.h-wt--320 {
  width: 320px;
}

.h-bb--white {
  border-bottom: 1px solid white;
}